body {
  background-color: #dcdcdc;
}

h1 {
    text-align: center;
    color: #fff;
    padding-top: 6px;
}

p {
  color: #fff;
  text-align: center;
}

button {
  display: inline;
  text-align: center;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    background-color: rgb(25, 25, 25);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
  }

  .move-icon {
    height: 50px;
  }

  .move-button {
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 3px solid white;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
  }

  .result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
  }

  .score {
    margin-top: 60px;
    font-size: 20px;
  }

  .reset-score-button {
    margin: 15px auto;
    background: #fff;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
  }